//registry=https://npm.pkg.github.com/anysoftuz
//npm.pkg.github.com/:_authToken=${NPM_TOKEN}

save-exact=true
loglevel=error
engine-strict=true
shamefully-hoist=true
auto-install-peers=true
strict-peer-dependencies=false